* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.light-theme {
  width: 100%;
  margin: auto;
  background-color: white;
  position: relative;
  padding-bottom: 51px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.light-theme .db-container {
  width: 90%;
  margin: auto;
  height: auto;
  background-color: transparent;
  margin-bottom: 48px;
  max-width: 1112px;
}

@media screen and (min-width: 1156px) {
  .light-theme .db-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.light-theme .db-container .header-bg {
  position: absolute;
  background-color: #f5f7ff;
  height: 236px;
  border-radius: 0px 0px 40px 40px;
  width: 100%;
  top: 0%;
  left: 0%;
  z-index: 0;
}

.light-theme .db-container__heading {
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#63687e), to(#63687e));
  background-image: linear-gradient(to right, #63687e, #63687e);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 1px;
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 1156px) {
  .light-theme .db-container__heading {
    background-image: none;
  }
}

.light-theme .db-container__heading h1 {
  font-size: 2.6rem;
  color: #1e202a;
}

.light-theme .db-container__heading span {
  font-size: 1.6rem;
  color: #63687e;
  font-weight: 700;
}

.light-theme .db-container__switch {
  margin-top: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 1156px) {
  .light-theme .db-container__switch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 134px;
    -webkit-transform: translateY(-18px);
            transform: translateY(-18px);
  }
}

.light-theme .db-container__switch span {
  font-size: 1.4rem;
  color: #63687e;
  font-weight: 700;
}

.light-theme .db-container__switch .btn-light {
  width: 47px;
  height: 24px;
  background-color: #aeb3cb;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  padding: 2px 3px;
  cursor: pointer;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.light-theme .db-container__switch .btn-light .toggle {
  width: 18px;
  height: 18px;
  background-color: #f5f7ff;
  border-radius: 50%;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  pointer-events: none;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.light-theme .db-container__switch .btn-light .toggle-night {
  -webkit-transform: translateX(130%);
          transform: translateX(130%);
}

.light-theme .follower-grid {
  width: 90%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (215px)[4];
      grid-template-rows: repeat(4, 215px);
  grid-gap: 24px;
  position: relative;
  z-index: 2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  max-width: 1112px;
}

@media screen and (min-width: 768px) {
  .light-theme .follower-grid {
    -ms-grid-columns: (325px)[2];
        grid-template-columns: repeat(2, 325px);
    -ms-grid-rows: (215px)[2];
        grid-template-rows: repeat(2, 215px);
  }
}

@media screen and (min-width: 1156px) {
  .light-theme .follower-grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 215px;
        grid-template-rows: 215px;
  }
}

.light-theme .follower-grid__card {
  background-color: #f0f2fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.8em 0em;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 4px;
}

.light-theme .follower-grid__card:nth-child(1) {
  background-image: -webkit-gradient(linear, left top, right top, from(#198ff5), to(#198ff5));
  background-image: linear-gradient(to right, #198ff5, #198ff5);
}

.light-theme .follower-grid__card:nth-child(2) {
  background-image: -webkit-gradient(linear, left top, right top, from(#1ca0f2), to(#1ca0f2));
  background-image: linear-gradient(to right, #1ca0f2, #1ca0f2);
}

.light-theme .follower-grid__card:nth-child(3) {
  background-image: -webkit-gradient(linear, left top, right top, from(#fdc468), to(#df4996));
  background-image: linear-gradient(to right, #fdc468, #df4996);
}

.light-theme .follower-grid__card:nth-child(4) {
  background-image: -webkit-gradient(linear, left top, right top, from(#c4032a), to(#c4032a));
  background-image: linear-gradient(to right, #c4032a, #c4032a);
}

.light-theme .follower-grid__card:nth-child(4) .f-count span {
  color: #dc414c;
}

.light-theme .follower-grid__card__social-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.light-theme .follower-grid__card__social-card span {
  font-size: 1.2rem;
  font-weight: 700;
  color: #63687e;
}

.light-theme .follower-grid__card__social-card svg {
  margin-right: 5px;
}

.light-theme .follower-grid__card h3 {
  font-size: 5rem;
  color: #1e202a;
}

.light-theme .follower-grid__card .follower {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #63687e;
}

.light-theme .follower-grid__card .f-count {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.light-theme .follower-grid__card .f-count svg {
  margin-right: 5px;
}

.light-theme .follower-grid__card .f-count span {
  color: #1db489;
}

.light-theme .overview-bg {
  width: 90%;
  max-width: 1112px;
  margin: auto;
  margin-top: 51px;
}

.light-theme .overview-bg__headline {
  font-size: 2.6rem;
  margin-bottom: 29px;
  color: #63687e;
}

.light-theme .overview-bg__grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: auto;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (125px)[8];
      grid-template-rows: repeat(8, 125px);
  grid-gap: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .light-theme .overview-bg__grid {
    -ms-grid-columns: 325px 325px;
        grid-template-columns: 325px 325px;
    -ms-grid-rows: (125px)[4];
        grid-template-rows: repeat(4, 125px);
  }
}

@media screen and (min-width: 1156px) {
  .light-theme .overview-bg__grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (125px)[2];
        grid-template-rows: repeat(2, 125px);
  }
}

.light-theme .overview-bg__grid__card {
  background-color: #f0f2fa;
  border-radius: 5px;
  padding: 2.6em 3.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.light-theme .overview-bg__grid__card__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.light-theme .overview-bg__grid__card__social span {
  font-size: 1.4rem;
  font-weight: 700;
  color: #63687e;
}

.light-theme .overview-bg__grid__card__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.light-theme .overview-bg__grid__card__result h6 {
  font-size: 2.6rem;
  color: #1e202a;
}

.light-theme .overview-bg__grid__card__result .vote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.light-theme .overview-bg__grid__card__result .vote svg {
  margin-right: 5px;
}

.light-theme .overview-bg__grid__card__result .vote span {
  color: #1db489;
  font-weight: 700;
}

.dark-theme {
  width: 100%;
  margin: auto;
  background-color: #1e202a;
  position: relative;
  padding-bottom: 51px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.dark-theme .db-container {
  width: 90%;
  margin: auto;
  height: auto;
  background-color: transparent;
  margin-bottom: 48px;
  max-width: 1112px;
}

@media screen and (min-width: 1156px) {
  .dark-theme .db-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.dark-theme .db-container .header-bg {
  position: absolute;
  background-color: #1f212e;
  height: 236px;
  border-radius: 0px 0px 40px 40px;
  width: 100%;
  top: 0%;
  left: 0%;
  z-index: 0;
}

.dark-theme .db-container__heading {
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#8b97c6), to(#8b97c6));
  background-image: linear-gradient(to right, #8b97c6, #8b97c6);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 1px;
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 1156px) {
  .dark-theme .db-container__heading {
    background-image: none;
  }
}

.dark-theme .db-container__heading h1 {
  font-size: 2.6rem;
  color: white;
}

.dark-theme .db-container__heading span {
  font-size: 1.6rem;
  color: #8b97c6;
  font-weight: 700;
}

.dark-theme .db-container__switch {
  margin-top: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 1156px) {
  .dark-theme .db-container__switch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 134px;
    -webkit-transform: translateY(-18px);
            transform: translateY(-18px);
  }
}

.dark-theme .db-container__switch span {
  font-size: 1.4rem;
  color: #8b97c6;
  font-weight: 700;
}

.dark-theme .db-container__switch .btn-light {
  width: 47px;
  height: 24px;
  background-image: -webkit-gradient(linear, left top, right top, from(#378fe6), to(#3eda82));
  background-image: linear-gradient(to right, #378fe6, #3eda82);
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  padding: 2px 3px;
  cursor: pointer;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.dark-theme .db-container__switch .btn-light .toggle {
  width: 18px;
  height: 18px;
  background-color: #1f212e;
  border-radius: 50%;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  pointer-events: none;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.dark-theme .db-container__switch .btn-light .toggle-night {
  -webkit-transform: translateX(130%);
          transform: translateX(130%);
}

.dark-theme .follower-grid {
  width: 90%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (215px)[4];
      grid-template-rows: repeat(4, 215px);
  grid-gap: 24px;
  position: relative;
  z-index: 2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  max-width: 1112px;
}

@media screen and (min-width: 768px) {
  .dark-theme .follower-grid {
    -ms-grid-columns: (325px)[2];
        grid-template-columns: repeat(2, 325px);
    -ms-grid-rows: (215px)[2];
        grid-template-rows: repeat(2, 215px);
  }
}

@media screen and (min-width: 1156px) {
  .dark-theme .follower-grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 215px;
        grid-template-rows: 215px;
  }
}

.dark-theme .follower-grid__card {
  background-color: #252a41;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.8em 0em;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 4px;
}

.dark-theme .follower-grid__card:nth-child(1) {
  background-image: -webkit-gradient(linear, left top, right top, from(#198ff5), to(#198ff5));
  background-image: linear-gradient(to right, #198ff5, #198ff5);
}

.dark-theme .follower-grid__card:nth-child(2) {
  background-image: -webkit-gradient(linear, left top, right top, from(#1ca0f2), to(#1ca0f2));
  background-image: linear-gradient(to right, #1ca0f2, #1ca0f2);
}

.dark-theme .follower-grid__card:nth-child(3) {
  background-image: -webkit-gradient(linear, left top, right top, from(#fdc468), to(#df4996));
  background-image: linear-gradient(to right, #fdc468, #df4996);
}

.dark-theme .follower-grid__card:nth-child(4) {
  background-image: -webkit-gradient(linear, left top, right top, from(#c4032a), to(#c4032a));
  background-image: linear-gradient(to right, #c4032a, #c4032a);
}

.dark-theme .follower-grid__card:nth-child(4) .f-count span {
  color: #dc414c;
}

.dark-theme .follower-grid__card__social-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.dark-theme .follower-grid__card__social-card span {
  font-size: 1.2rem;
  font-weight: 700;
  color: #8b97c6;
}

.dark-theme .follower-grid__card__social-card svg {
  margin-right: 5px;
}

.dark-theme .follower-grid__card h3 {
  font-size: 5rem;
  color: white;
}

.dark-theme .follower-grid__card .follower {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #8b97c6;
}

.dark-theme .follower-grid__card .f-count {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dark-theme .follower-grid__card .f-count svg {
  margin-right: 5px;
}

.dark-theme .follower-grid__card .f-count span {
  color: #1db489;
}

.dark-theme .overview-bg {
  width: 90%;
  max-width: 1112px;
  margin: auto;
  margin-top: 51px;
}

.dark-theme .overview-bg__headline {
  font-size: 2.6rem;
  margin-bottom: 29px;
  color: white;
}

.dark-theme .overview-bg__grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: auto;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (125px)[8];
      grid-template-rows: repeat(8, 125px);
  grid-gap: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .dark-theme .overview-bg__grid {
    -ms-grid-columns: 325px 325px;
        grid-template-columns: 325px 325px;
    -ms-grid-rows: (125px)[4];
        grid-template-rows: repeat(4, 125px);
  }
}

@media screen and (min-width: 1156px) {
  .dark-theme .overview-bg__grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (125px)[2];
        grid-template-rows: repeat(2, 125px);
  }
}

.dark-theme .overview-bg__grid__card {
  background-color: #252a41;
  border-radius: 5px;
  padding: 2.6em 3.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dark-theme .overview-bg__grid__card__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dark-theme .overview-bg__grid__card__social span {
  font-size: 1.4rem;
  font-weight: 700;
  color: #8b97c6;
}

.dark-theme .overview-bg__grid__card__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dark-theme .overview-bg__grid__card__result h6 {
  font-size: 2.6rem;
  color: white;
}

.dark-theme .overview-bg__grid__card__result .vote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dark-theme .overview-bg__grid__card__result .vote svg {
  margin-right: 5px;
}

.dark-theme .overview-bg__grid__card__result .vote span {
  color: #1db489;
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */